p {
    
    color:lightgreen;
    width:250px;
    display:flex;
}
p#info {
    position:absolute;
    display: inline;
    top: 180px;
    left: 140px;
    color:black !important;
    
}
li {
    color:yellow;
    font-size:large;
    content:none;
    content: 'Der Benutzername oder das Passwort war falsch. Versuchen Sie es noch mal.' !important;
}
input {
    padding-left:15px;
    margin-left: 20px;
    height:50px;
    border-radius: 20px;
    z-index:1 !important;
    position: absolute;
    top:10px;
    
    
}
button {
    font-size:medium;
}
#logindiv {
    position: absolute;
    top: 30vh;
    left: 30vw;
    /* box-shadow: 7px 3px 6px yellow;
    box-shadow: -7px -3px -6px yellow; */
    backdrop-filter: blur(0.2em);
    border:1.2px solid black;
    padding: 20px 30px 15px 15px;
    
}

img#see-password {
    position: absolute;
    z-index: 1000;
    top:4.2cm;
    right:1cm;
    width: 40px;
}
html {
    background-color: black;
    background-image: url('https://localhost/static/img/forest.jpg');
}

button {
    margin-left: 20px;
    margin-top: 15px;
    width: 230px;
    border-radius: 10px;
    border-color: azure;
    height: 40px;
    background-color: rgb(104, 14, 189);
}
input {
    margin-bottom:15px;
    padding-left: 1.4cm;
    padding-top: 0.8cm !important;
    padding-bottom: 0.8cm;
    
}
input[name='password'] {
    padding-left: 1.6cm;
    position: relative;
}
img#user {
    position: absolute;
    left:1.2cm;
    top:2.1cm;
    width: 40px;
}
img#password {
    position: absolute;
    top:4.2cm;
    left:1.2cm;
    width:38px;
}
a#link {
    color:aquamarine
}
input[name='username'] {
    margin-top:1.3cm;
    position: relative;
}
@media screen and (max-height:527px) {
    html {
        background-image: url('https://localhost/static/img/beach.jpg');
    }
}
@media screen and (max-width:680px){
    html {
        background-image: url('https://localhost/static/img/beach.jpg');
    }
}