<!-- login.html -->
<html>
<head>
    <title>
        Login
    </title>
    <link rel="stylesheet" href="https://localhost/static/css/login.css">
    <link rel="icon" href="https://icons.iconarchive.com/icons/tooschee/misc/128/Book-icon.png">
</head>
<!-- <span style="color:aliceblue" id="info">{{ message }}</span> -->
<div id="logindiv" style="z-index: 2;">
    
    <form method="post" action="{% url 'custom_login'%}" id="login-form">
        {% csrf_token %}
        <p>{% if message is 'true'%}
            Überprüfe die Anmeldedaten.
            {% endif%}
        </p>
        <input type="text" name="username" required placeholder="Benutzername"><br>
        <input type="password" name="password" required placeholder="Passwort"><img id="see-password" src="https://icons.iconarchive.com/icons/custom-icon-design/mono-general-4/48/eye-icon.png" alt="Passwort sehen" onclick="seePassword()" title="Passwort sehen">
        <img src="https://icons.iconarchive.com/icons/custom-icon-design/silky-line-user/48/user-icon.png" alt="username" id="user"><br>
        <img src="https://icons.iconarchive.com/icons/steve/zondicons/48/Lock-Closed-icon.png" id="password" alt="Passwort">
        
        <button style="color: whitesmoke;"type="submit">Login</button>
    </form>
    
    <p>Hast du noch kein Account? <a href="https://localhost/account/registrieren" id="link">Registriere dich!</a></p>
    
</div>
<script src="https://localhost/static/js/login.js"></script>
</html>